<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Parkinson's disease</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">  

    <!-- Icon Font Stylesheet -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <style>
        .text__header{
            opacity: 75%;
        }
        .hero{
            width: 1200px;
        }
        .hero__image{
            margin-right:0px;
            padding: 10px ;
            background-color: rgb(84, 134, 209);
        }
        .features__main{
            width: 1200px;
            margin:auto;
        }
        .feature__div{
            display: flex;
            flex-direction: column;
            color: #536471;
            font-size: 15px;
            font-weight: 700;
            text-align: center;
            filter: invert(34%) sepia(22%) saturate(438%) hue-rotate(164deg) brightness(101%) contrast(82%);        }
        .feature__svg{
            padding:20px 0px;
            width: 5rem;
            text-align: centre;
            margin: auto;
        }
    </style>
    <script src="https://use.fontawesome.com/4fb090e041.js"></script>
</head>

<body>
    <!-- Navbar Start -->
    <div class=" sticky-top bg-white shadow-sm">
        <div class="px-5 py-1">
            <nav class="navbar navbar-expand-lg px-0 bg-white navbar-light py-3 py-lg-0">
                <a href="index.html" class="navbar-brand">
                    <h1 class="m-0 text-uppercase text-primary"> Parkinson's disease </h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0">
                        <a href="{{ url_for('home') }}" class="nav-item nav-link active">Home</a>
                        <a href="{{ url_for('about') }}" class="nav-item nav-link">About</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 mb-5 hero-header">
        <div class="container py-5">
                <div class="col-lg-8 text-center text-lg-start">
                    <div class="hero d-flex justify-content-between align-items-center gap-5">
                        <div class="hero__text">
                            <h5 class="d-inline-block text-light text__header text-uppercase border-bottom border-5" style="border-color: rgba(256, 256, 256, .3) !important;">Detect parkinsons in its Early stages</h5>
                            <h1 class="display-1 text-white mb-md-4">Parkinson Disease Detection</h1>
                            <div class="pt-2">
                                <a href="{{ url_for('uploadSpiral') }}" class="btn btn-outline-light rounded-pill py-md-3 px-md-5 mx-2">SPIRAL IMAGE UPLOAD</a>
                                <a href="{{ url_for('uploadWave') }}" class="btn btn-outline-light rounded-pill py-md-3 px-md-5 mx-2">WAVE IMAGE UPLOAD</a>
                            </div>
                        </div>
                        <div class="hero__image rounded-3">
                            <img class="rounded-3"  height="350px" src="https://d2icp22po6iej.cloudfront.net/wp-content/uploads/2022/05/doctor-discussing-diagnosis.webp" alt="hero image">
                        </div>
                    </div>
                </div>
        </div>
    </div> 
    <!-- Features Start -->
    <div class="features px-5 py-2 my-5">
        <div class="px-5 features__main d-flex gap-4 justify-content-between align-items-center  py-5">
            <div class="feature__div">
                <img class="feature__svg" src="../static/icons/pencil.svg" alt="pencil">
                <p class="py-3">Draw a Spiral or a <br> Wave Image</p>
            </div>
            <div class="feature__div">
                <img class="feature__svg" src="../static/icons/upload.svg" alt="pencil">
                <p class="py-3">Upload The Image in <br> Our Detector</p>
            </div>
            <div class="feature__div">
                <img class="feature__svg" src="../static/icons/detect.svg" alt="pencil">
                <p class="py-3">Detect Parkinsons with <br> more than 85% accuracy</p>
            </div>
        </div>
    </div>
    <!-- Footer Start -->
    <div class="py-1 px-lg-2 bg-primary text-light">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="ps-5">Dayanand Sagar College Of Engineering</div>
          <div>Parkinsons Disease Detection using Machine Learning</div>
          <div class="pe-5">Done by Team No.6</div>
        </footer>
    </div>
</body>

</html